@model IEnumerable<BugTrackerDef.Domain.Employee>
@{
    ViewData["Title"] = "AddEmployeeToProject";
    Layout = "~/Views/Manager/_ManagerLayout.cshtml";
    var projectId = ViewData["ProjectID"];
}

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.UserName</td>
                <td>
                    <form asp-controller="Manager" asp-action="AddEmployeeToProject" asp-route-emplId="@e.EmployeeID"
                          asp-route-projId="@projectId">
                        <button type="submit" class="btn btn-warning">Add</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="CreateEmployee" asp-controller="Manager" asp-route-id="@projectId">Create new Employee</a>

